body {
    background: rgb(131, 121, 224)
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom-style: double; 
    border-width: 10px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;
    
    
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    margin: 85px;
    margin-top: auto;
    margin-bottom: auto ;
    line-height: 2;
}

h3{
    text-align: left;
    margin: 25px;
    margin-top: auto;
    margin-bottom: auto ;
    font-size: 60px;
    color: rgb(211, 211, 211);
}

h4{
    text-align: left;
    font-size: 25px;
    margin: 25px;
    margin-top: auto;
    margin-bottom: auto ;
    line-height: 1.4;
    margin-right: 450px;
}

h5{
    text-align: center;
}

/* The list style section is used across all the job html pages, to give sense of sleekness and unity across the whole site.*/

li{
    text-align: left;
    font-size: 29px;
    margin: 25px;
    margin-top: auto;
    margin-bottom: auto ;
    line-height: 1.4;
    margin-right: 450px;
}



#clean {
    letter-spacing: 10px;
}